---
layout: page
title: Orlandia Timeline
subtitle: A visual history of Orlandia
meta-description: A visual history of Tales of Orlandia
css:
  - "/css/timeline.css"
---

{% for timeline in site.data.timelines %}
  <div class="row timeline-row">
    <div class="timeline">
      <span class="timeline-label">
        <span class="label label-info">{{ timeline.header }}</span>
      </span>

      {% for item in timeline.items %}
        {% if item.type == "separator" %}
          <span class="timeline-label">
            <span class="label label-default">{{ item.text }}</span>
          </span>
        {% elsif item.type == "year" %}
          {% assign year = site.data.years[item.year] %}

          <div class="timeline-item">
            <div class="timeline-point timeline-point-success">
              {% if year.current %}
                <i class="fa fa-star"></i>
              {% else %}
                <i class="fa fa-circle"></i>
              {% endif %}
            </div>
            <div class="timeline-event">
              <div class="timeline-heading">
                <h4><a href="/history/{{ year.slug }}">{{ year.name }}</a></h4>
                <small class="subtitle">(AFO {{ year.year }})</small>
              </div>
              <div class="timeline-body">
                <p>
                  {% if year.timeline-text %}
                    {{ year.timeline-text }}
                  {% else %}
                    Some untold story has happened. Who knows what though? Check back here for backstory posts and find out everything at AFO {{ year.year }}
                  {% endif %}
                </p>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}

      <span class="timeline-label">
        <span class="label label-info">{{ timeline.footer }}</span>
      </span>
    </div>
  </div>
{% endfor %}